In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/skill-migration/skillmigration.csv

During this past few years, migration was a way for thousands ou people to change their life and aspire to a better lifestyle than what they currently had, in their country of origin, In this project we would go this data, and analyse which country had the most migratio over the year, the skills, and finish with the industry

content 
1. data loading
2. data cleaning
3. data processing 
4. data visualization

I start by first uploading all the libraries I'll be using in the analysis

In [2]:
#importing librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1. DATA LOADING

In [3]:
#loading the data
skill_migration = pd.read_csv("/kaggle/input/skill-migration/skillmigration.csv")
print (skill_migration.head())

  country_code country_name   wb_income   wb_region  skill_group_id  \
0           af  Afghanistan  Low income  South Asia            2549
1           af  Afghanistan  Low income  South Asia            2608
2           af  Afghanistan  Low income  South Asia            3806
3           af  Afghanistan  Low income  South Asia           50321
4           af  Afghanistan  Low income  South Asia            1606

          skill_group_category        skill_group_name  net_per_10K_2015  \
0                  Tech Skills  Information Management           -791.59
1              Business Skills  Operational Efficiency          -1610.25
2  Specialized Industry Skills       National Security          -1731.45
3                  Tech Skills        Software Testing           -957.50
4  Specialized Industry Skills                    Navy          -1510.71

   net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           -705.88           -550.04           -680.92          -1208.79
1           -933.55           -776.06           -532.22           -790.09
2           -769.68           -756.59           -600.44           -767.64
3           -828.54           -964.73           -406.50           -739.51
4           -841.17           -842.32           -581.71           -718.64

In [4]:
print ("Number of data point =", len(skill_migration))
skill_migration.head()

Number of data point = 17617

,country_code,country_name,wb_income,wb_region,skill_group_id,skill_group_category,skill_group_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,af,Afghanistan,Low income,South Asia,2549,Tech Skills,Information Management,-791.59,-705.88,-550.04,-680.92,-1208.79
1,af,Afghanistan,Low income,South Asia,2608,Business Skills,Operational Efficiency,-1610.25,-933.55,-776.06,-532.22,-790.09
2,af,Afghanistan,Low income,South Asia,3806,Specialized Industry Skills,National Security,-1731.45,-769.68,-756.59,-600.44,-767.64
3,af,Afghanistan,Low income,South Asia,50321,Tech Skills,Software Testing,-957.50,-828.54,-964.73,-406.50,-739.51
4,af,Afghanistan,Low income,South Asia,1606,Specialized Industry Skills,Navy,-1510.71,-841.17,-842.32,-581.71,-718.64

Now that I have a first view of the data, I'm going to get a few basic information and stats

In [5]:
skill_migration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17617 entries, 0 to 17616
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code          17617 non-null  object
 1   country_name          17617 non-null  object
 2   wb_income             17617 non-null  object
 3   wb_region             17617 non-null  object
 4   skill_group_id        17617 non-null  int64
 5   skill_group_category  17617 non-null  object
 6   skill_group_name      17617 non-null  object
 7   net_per_10K_2015      17617 non-null  float64
 8   net_per_10K_2016      17617 non-null  float64
 9   net_per_10K_2017      17617 non-null  float64
 10  net_per_10K_2018      17617 non-null  float64
 11  net_per_10K_2019      17617 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1.6+ MB

In [6]:
skill_migration.describe()

,skill_group_id,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
count,17617.000000,17617.000000,17617.00000,17617.000000,17617.000000,17617.000000
mean,6768.889368,-14.600256,-39.20081,-54.772238,-36.081342,-34.782431
std,11609.744113,255.690007,252.33377,256.931197,265.209723,239.798934
min,44.000000,-3037.380000,-2435.26000,-6604.670000,-3629.020000,-4022.040000
25%,618.000000,-106.160000,-119.24000,-121.460000,-111.440000,-111.740000
50%,2091.000000,-11.500000,-27.04000,-31.810000,-15.170000,-17.430000
75%,6189.000000,72.120000,58.85000,47.480000,65.940000,65.920000
max,50415.000000,2824.970000,1796.89000,1906.140000,1515.790000,1901.990000

In [7]:
skill_migration["country_name"]
skill_migration["country_name"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Cambodia', 'Cameroon', 'Canada', 'Chile', 'China',
       'Colombia', 'Congo, Dem. Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Haiti',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Rep.', 'Kuwait', 'Latvia', 'Lebanon', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia',
       'Mali', 'Malta', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Nigeria', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Singapore', 'Slovak Republic', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Taiwan, China', 'Tanzania', 'Thailand',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Venezuela, RB',
       'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.', 'Zambia',
       'Zimbabwe'], dtype=object)

In [8]:
df_1 = skill_migration.drop(["country_code", "skill_group_id", "skill_group_name"], axis = 1)
df_1

,country_name,wb_income,wb_region,skill_group_category,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,Afghanistan,Low income,South Asia,Tech Skills,-791.59,-705.88,-550.04,-680.92,-1208.79
1,Afghanistan,Low income,South Asia,Business Skills,-1610.25,-933.55,-776.06,-532.22,-790.09
2,Afghanistan,Low income,South Asia,Specialized Industry Skills,-1731.45,-769.68,-756.59,-600.44,-767.64
3,Afghanistan,Low income,South Asia,Tech Skills,-957.50,-828.54,-964.73,-406.50,-739.51
4,Afghanistan,Low income,South Asia,Specialized Industry Skills,-1510.71,-841.17,-842.32,-581.71,-718.64
...,...,...,...,...,...,...,...,...,...
17612,Zimbabwe,Low income,Sub-Saharan Africa,Specialized Industry Skills,71.18,30.68,-18.85,-68.89,-93.70
17613,Zimbabwe,Low income,Sub-Saharan Africa,Specialized Industry Skills,8.97,-112.85,-35.87,-65.38,-93.46
17614,Zimbabwe,Low income,Sub-Saharan Africa,Specialized Industry Skills,-53.45,-59.70,-88.01,-55.90,-82.23
17615,Zimbabwe,Low income,Sub-Saharan Africa,Specialized Industry Skills,15.25,-65.53,-57.22,-39.39,-32.14
17616,Zimbabwe,Low income,Sub-Saharan Africa,Specialized Industry Skills,40.85,47.16,-31.24,-8.24,-25.52

Now that we know are familiar with our data,In this data we are interested only in South Asia and the Middle East, hence our next stage, during the data processing we'll focus on extracting the necessary data we need to make the analysis

In [9]:
import pandas as pd

In [10]:
South_Asia = df_1[df_1["wb_region"]== "South Asia"]
South_Asia

,country_name,wb_income,wb_region,skill_group_category,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,Afghanistan,Low income,South Asia,Tech Skills,-791.59,-705.88,-550.04,-680.92,-1208.79
1,Afghanistan,Low income,South Asia,Business Skills,-1610.25,-933.55,-776.06,-532.22,-790.09
2,Afghanistan,Low income,South Asia,Specialized Industry Skills,-1731.45,-769.68,-756.59,-600.44,-767.64
3,Afghanistan,Low income,South Asia,Tech Skills,-957.50,-828.54,-964.73,-406.50,-739.51
4,Afghanistan,Low income,South Asia,Specialized Industry Skills,-1510.71,-841.17,-842.32,-581.71,-718.64
...,...,...,...,...,...,...,...,...,...
14522,Sri Lanka,Lower middle income,South Asia,Specialized Industry Skills,-173.36,35.05,-9.26,-23.28,-81.72
14523,Sri Lanka,Lower middle income,South Asia,Specialized Industry Skills,-25.00,138.69,306.35,115.99,-78.84
14524,Sri Lanka,Lower middle income,South Asia,Specialized Industry Skills,-246.85,65.36,-44.76,-75.76,-71.92
14525,Sri Lanka,Lower middle income,South Asia,Specialized Industry Skills,-245.60,-86.25,20.88,-96.16,-69.62
14526,Sri Lanka,Lower middle income,South Asia,Specialized Industry Skills,13.73,208.89,407.00,146.84,-37.85